<html>

<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <script>
        function start() {
        			    gapi.load('auth2', function() {
        			      auth2 = gapi.auth2.init({
        			        client_id: '429402914868-b15vdk94i8fum4bf4in52kd1k2eur3fd.apps.googleusercontent.com'
        			      });
        			    });
        			  }
    </script>
    <title>Catalog App</title>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class='container wider-container'>
                <div class="navbar-header">
                    <a class="navbar-brand site-title" href="{{url_for('catalogHome') }}">Catalog App</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <h3 class="blue"> Login </h3>
        <form action="{{ url_for('login')}}" method='post'>
            <div class="form-group">
                <label> Username : </label>
                <input type="text" class="form-control" name="username" value="admin">
            </div>
            <div class="form-group">
                <label> Password : </label>
                <input type="Password" class="form-control" name="password" value="admin">
            </div>
            <button type="submit" class="btn btn-success">login</button>
        </form>
        {% with messages = get_flashed_messages()[-1] %} {% if messages %}
        <ul class=flashes>
            <li style="color: red;">{{ messages }}</li>
        </ul>
        {% endif %} {% endwith %}
        <div class="text-center">
            <a class="btn btn-primary" id="signinButton"><img width="20px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
            	 login with Google
             </a>
        </div>
        <div id="result"></div>
    </div>
    <script>
        $('#signinButton').click(function() {
            function signInCallback(authResult){
              if (authResult['code']){
                $('#signinButton').attr('style', 'display: none');
                $.ajax({
                  type: 'POST',
                  url: '/gconnect?state={{STATE}}',
                  headers: {
                  'X-Requested-With': 'XMLHttpRequest'
                  },
                  contentType: 'application/octet-stream; charset=utf-8',
                  success:function(result){
                    $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                         setTimeout(function() {
                          window.location.href = "/";
                         }, 1);
                  },
                  processData:false,
                  data:authResult['code']
                });
              } else{
                // handle error
                console.log('There was an error: ' + authResult['error']);
                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
              }
            }
            auth2.grantOfflineAccess().then(signInCallback);
          });
    </script>
</body>

</html>